.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 50px;
}

.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 80%;
  margin-bottom: 50px;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px 10px 100px;
  background: var(--main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.upload-button:hover {
  background: var(--main-hover);
}

.video-container {
  width: 100%;
}

.videos-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 40px);
  height: 400px;
  border: 2px solid #999;
  margin: 20px;
}

.clip-video {
  background: #111;
  aspect-ratio: 16 / 9;
  flex: 1;
}

footer {
  margin-top: auto;
  height: 40px;
  width: 100%;
  background: var(--dark-text);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1600px) {
  .clip-container {
    width: calc(50% - 44px);
  }
}

@media only screen and (max-width: 1000px) {
  .clip-container {
    width: 100%;
  }
}
