.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 50px;
}

.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 80%;
  margin-bottom: 50px;
}

.upload-button {
  padding: 10px 100px 10px 100px;
  background: var(--main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.upload-button:hover {
  background: var(--main-hover);
}

.video-container {
  width: 100%;
}

footer {
  margin-top: auto;
  height: 40px;
  width: 100%;
  background: var(--dark-text);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
