.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
}

.nav-logo {
  color: var(--main);
  font-family: Saira;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
}

.nav-link {
  margin-left: auto;
  text-decoration: none;
  color: var(--main);
  font-family: Saira;
}

.nav-log-out {
  border: 2px solid var(--main);
  background: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  transition: all 0.1s ease;
}

.nav-log-out:hover {
  background: var(--main);
  color: white;
}
